---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->



<style>
.contact_footer {display:none; }
.footer_center_icon {display:none;}
.sub_footer {display:none;}
    .header {
    left: 0px;
    right: 0px;
    top: 0px;
    height: 78px;
    z-index: 999;
    position: fixed;
    font-weight: 400;
        box-shadow: none;
        background: none;
}
.menu {display:none;}
.footer {display:none;}
.head_padding	{display:none;}
.hs-button.primary {
    background-color: #31a8a0;
    color: white;
    font-weight: 400px;
    width: 92%;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
   }
   span {
    font-weight: 400;
    padding-top:8px;
}
input#firstname-8bb6b874-0e91-40cf-b6af-d1718db8ae48 {
    width: 100%;
    margin-bottom:7px;
    border-radius:5px;
    border:1px solid #868484;
    padding:2px; 
}
input#lastname-8bb6b874-0e91-40cf-b6af-d1718db8ae48 {
    width: 100%;
    margin-bottom:7px;
    border-radius:5px;
    border:1px solid #868484; 
    padding:2px;
}
fieldset.form-columns-1 .hs-input {
    width: 100%!important;
    margin-bottom:7px;
    border-radius:5px;
    border:1px solid #868484; 
    padding:2px;
}
.input_title {
    color: #7c7c7c;
}
.contact_input {
    border: 1px solid #808080;
}
.contact_btn {
    background: none;
}
p {
    font-family: 'Open Sans', sans-serif !important;
font-weight: 400;
color: #7c7c7c;
font-size: 18px;
}
li {
    font-family: 'Open Sans', sans-serif !important;
font-weight: 400;
color: #7c7c7c;
font-size: 18px;
}
.headLogo {
    height: 137px;
    max-height: 100%;
    width: 200px;
    background: url(https://www.volocommerce.com/wp-content/themes/volo/images/volo-logo.png) no-repeat center left;
        background-size: auto;
    background-size: contain;
    float: left;
    position: absolute;
    top: 0px;
    z-index: 333;
    }
</style>
<html>
  <body>
    <div class="padtop90"></div>
<div class="container font14 martop40 relative">
		<h1 class="title red_txt font46 mar0" style="padding-bottom: 30px;"><?php the_title(); ?></h1>
        <p>Volo ecommerce reporting software helps you become more successful and profitable
through dynamic, useful reporting, flexible drill-down reports and automated processes
like alert notifications and re-ordering.
<br><br></p>
	
  <div class="row">
    <div class="col-md-6">
      <p>If you can’t easily see exactly how your ecommerce business is performing, you can’t
make good decisions to grow your sales and profitability. Good ecommerce reporting
<a href="https://www.volocommerce.com/ecommerce-platform/" target="_blank">software</a> allows you to spend more time working on your business, and less time
working in your business.
</p><br><br>

		<h2>Benefits of Volo ecommerce reporting management software:</h2>
		<br><br>
    </div>
    <br><br><br>
	  <div class="col-md-6" style="margin-top: -6%;">
      <img src="https://www.volocommerce.com/wp-content/uploads/2022/08/Volo%20Site%20Banner%209.jpg" alt="ecommerce reporting software" style="max-width: 350px;">
    </div>
  </div>    
        
         <ul>
          <li>Market-leading and fully featured reporting &amp; analytics environment as part of
your investment in Volo increases your ROI
</li>
          <li>Accessible, flexible reports dramatically cut down the time and need for further
data crunching and spreadsheet work
 </li>
			 <li>Analyse pretty much anything you need with a very large range of filtering
options</li>
          <li>Set up periodic email notifications and alerts of your KPIs to optimise your time
</li>
<li>High level, at-a-glance dashboards down to detailed reports of margin and profit
at an individual order or SKU level to give you confidence for decision-making</li>
        </ul> <br>

        <h2>Features of Volos software:</h2>
<br><br>

<ul>
          <li>High level: analytics, dashboards, reports, automated alerts
</li>
          <li>Dashboards (Daily sales summary, previous day sales summary)</li>
			 <li>Sales target reporting (sales performance against target)</li>
          <li>Customer reporting (top customers report)</li>
          <li>Shipping reporting (shipping breakdown, dispatch performance)</li>
          <li>Product reporting (SKU detail, channel detail, SKU sales velocity)s</li>
          <li>Stock reporting (stock forecast, dead stick, slow stock)</li>
          <li>Credits and refunds reporting (refund analysis, refunds reasons)</li>
          <li>Channel/marketplace reporting (channel order summary, Amazon breakdown,
Amazon trade sales, <a href="https://www.ebay.co.uk/" target="_blank">eBay</a> category)</li>
          <li>Advertising/promotions/PPC reporting (eBay Promoted Listings)</li>
          <li>Supplier performance reporting (supplier report, supplier velocity)</li>
          <li>Cross-border/international reporting (cross-border report)</li>
          <li>Kit/bundle reporting (product bundles)</li>
          <li>Margin reporting (Margin breakdown, Margin reporting, Order, Supplier and
SKU margin, net margins at an order level)</li>
          <li>Large range of filter categories</li>
          <li>Create subsets for in-depth comparisons</li>
        </ul> <br>
        <p>To organise a short, friendly call with us to map out your requirements for ecommerce
reporting software, please complete and submit the form below.</p>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>